[Unit]
Description=cobs_to_shm

[Service]
Type=simple
User=aos
Group=aos
Restart=always
ExecStart=sh -c "sleep 4 && exec /usr/local/bin/cobs_to_shm /dev/ttyACM0"
LimitNICE=-20

[Install]
WantedBy=multi-user.target
