[Unit]
Description=shm_logger

[Service]
Type=simple
User=daq
Group=dialout
Restart=always
RestartSec=4
ExecStart=/usr/local/bin/shm_logger.sh /cobs_to_shm /dev/shm/
LimitNICE=-20

[Install]
WantedBy=multi-user.target
